@page "/"
@using BlazorApp1.Data
@using Microsoft.Extensions.Logging
@inject ILogger<Index> Logger

<div class="indexForm">
    <EditForm Model="@userModel" OnValidSubmit="@HandleValidSubmit">
    
    <DataAnnotationsValidator />
    
    Display Name:
    <br />
    <InputText id="DisplayName" @bind-Value="userModel.DisplayName" />
    <br />
    Access Code:
    <br />
    <InputText id="AccessCode" @bind-Value="userModel.AccessCode" />
    <br />
    <button class="btn btn-success" type="submit">Submit</button>
    <ValidationSummary />
    <hr />
</EditForm>
</div>
<div class="indexForm">
    <SurveyPrompt Title="Problems?" />
</div>



@code {
    private UserModel userModel = new UserModel();

    private void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");
    }
}
